@page
@model ProjectWorkshop.Pages.Patients.EditModel
@{
}

<h2>@(Model.Patient.Id == 0 ? "Add Patient" : "Edit Patient")</h2>

<form method="post">
    <p>
        <a class="btn btn-secondary m-1" asp-page="./Index">Back</a>
    </p>

    <input type="hidden" asp-for="Patient.Id" />
    <div class="form-group">
        <label asp-for="Patient.FirstName"></label>
        <input asp-for="Patient.FirstName" class="form-control" />
        <span asp-validation-for="Patient.FirstName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Patient.LastName"></label>
        <input asp-for="Patient.LastName" class="form-control" />
        <span asp-validation-for="Patient.LastName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Patient.Dob"></label>
        <input asp-for="Patient.Dob" class="form-control" type="date" />
        <span asp-validation-for="Patient.Dob" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Patient.Gender"></label>
        <input asp-for="Patient.Gender" class="form-control" />
        <span asp-validation-for="Patient.Gender" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Patient.Ssn"></label>
        <input asp-for="Patient.Ssn" class="form-control" />
        <span asp-validation-for="Patient.Ssn" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Patient.Mrn"></label>
        <input asp-for="Patient.Mrn" class="form-control" />
        <span asp-validation-for="Patient.Mrn" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Patient.HospitalId"></label>
        <select asp-for="Patient.HospitalId" class="form-control" asp-items="Model.Hospitals"></select>
        <span asp-validation-for="Patient.HospitalId" class="text-danger"></span>
    </div>
    </br>
    <button type="submit" class="btn btn-primary">Save</button>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}